/* Asterisk wildcard selector to override default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header*/
header {
    background-color: aqua;
}

/* Main content*/
main {
    background-color: orange;
}

/* footer*/
footer {
    background-color: pink;
}